extends _base/_layout

block main
    .panel.panel-default
        .panel-heading.ex-text-capitalize #{__('index.about')}
        .panel-body
            p Bamket is the combination of bamboo & bucket. I think the Chinese transition should be 竹桶.
            p It is a file storage web service free to use and all uploaded files are hosted on
                = ' '
                a(href="http://www.qiniu.com/") qiniu
                | .

            hr

            p Bamket 来源自 bamboo（竹子）和 bucket（桶），所以中文翻译是 竹桶。
            p 这是一个提供网络文件存储服务的网站，上传的文件都存储在
                = ' '
                a(href="http://www.qiniu.com/") 七牛
                | 。