extends _base/_layout
block title
    title login
block header
block main
    .container-fluid
        h1 Guestbook
        form.form-horizontal(method="post" action="/guestbook")
            .form-group
                label.control-label.col-xs-3 Full Name:
                .col-xs-9
                    input(type="text" name="username").form-control
            .form-group
                label.control-label.col-xs-3 Email Address:
                .col-xs-9
                    input(type="email" name="email").form-control
            .form-group
                label.control-label.col-xs-3 Message:
                .col-xs-9
                    textarea.form-control(name="message")
            .form-group
                .col-xs-offset-3.col-xs-9
                    button(type="submit").form-control.btn.btn-primary Submit

        .list-group
            each message in messages
                .list-group-item
                    div
                        h4.list-group-item-heading #{message.username}
                        strong.list-group-item-heading #{moment(message.createdAt).format('MM/DD/YYYY')}
                    p.list-group-item-text.ex-margin-top-s #{message.message}
block footer