extends _base/_layout
block title
    title Bamket
block main
    .bamket-upload-files
        .ex-text-align-center
            p.ex-text-capitalize #{__('index.uploader.drag_drop')}
            p #{__('index.uploader.or')}
            p
                label.btn.btn-primary
                    span.ex-text-capitalize #{__('index.uploader.select_files')}
                    input(type="file", multiple).hidden#bamket-upload-files-input
    .row
        .col-xs-12
            h3.ex-text-capitalize= __("index.files_list")
            // archive, audio, code, excel, image, movie, file, pdf, photo, picture, powerpoint, sound, text, video, word, zip
            ul.list-group
                li.list-group-item.ex-layout-across.ex-layout-justify-content-space-between.ex-layout-align-items-center.bamket-file-list-item
                    .progress
                        .progress-bar(style="width: 40%").progress-bar-info.progress-bar-striped.active
                    .ex-layout-across.ex-s.ex-layout-align-items-center
                        .fa.fa-file-pdf-o.fa-fw.fa-2x
                        = ' '
                        span
                            a(href="#") file.pdf
                    .ex-layout-across.ex-layout-align-items-center.ex-s
                        label.bmaket-checkbox-switch
                            input(type="checkbox")
                            .bamket-checkbox-switch-inner
                                i.fa.fa-lock.ex-color-yellow
                                i.fa.fa-unlock-alt.ex-color-green
                                a
                        a(href="#", title=__('index.action.copy'))
                            .fa.fa-copy.fa-fw
                        a(href="#", title=__('index.action.remove'))
                            .fa.fa-remove.fa-fw
