h1 Welcome to exble.
p= __('index.nav.home')

ul
    each user in users
        li= user.email
        each article in user.Articles
            ul
                li= article.title
                li= article.content


form(action="/twit", method="post")
    div
        label emial
        input(type="email", name='email')
    div
        label password
        input(type="password", name='password')
    div
        input(type='submit', value='submit')
