body
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.bamket-upload-files
{
  border: 3px dashed rgba(164, 167, 172, 1.0);
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(230, 231, 232, 1.0);
}

.bamket-footer
{
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}



.bamket-file-list-item
{
  position: relative;

  & > *
  {
    z-index: 1;
  }

  // customize bs progress bar
  .progress
  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


    margin-bottom: 0;
    //background-color: transparent;
    //box-shadow: none;

    z-index: 0;
  }
  .progress-bar
  {
    background-color: rgba(51, 122, 183, 0.3);

    box-shadow: none;
  }

}






// css switch
.bmaket-checkbox-switch
{
  display: inline-block;
  width: 50px;
  height: 24px;
  position: relative;
  margin-bottom: 0;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;

  box-shadow: inset 0 0 0 1px rgba(202, 202, 202, 0.23);

  cursor: pointer;

  input[type="checkbox"]
  {
    display: none;
  }

  input[type="checkbox"]:checked + .bamket-checkbox-switch-inner > a
  {
    left: 50%;
  }
}
.bamket-checkbox-switch-inner
{
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;

  i
  {
    width: 50%;
    position: absolute;
    text-align: center;
    line-height: 22px;
  }
  i:first-child
  {
    left: 0;
  }
  i:nth-child(2)
  {
    right: 0;
  }
  a
  {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #337ab7;
    border-radius: 4px;
    border-color: #2e6da4;

    transition: left .2s;
  }
}
