body {}

.ex-layout-across {display: flex;}
.ex-layout-down   {display: flex; flex-direction: column;}



.ex-layout-justify-content-flex-start {justify-content: flex-start;}
.ex-layout-justify-content-flex-end {justify-content: flex-end;}
.ex-layout-justify-content-center  {justify-content: center;}
.ex-layout-justify-content-space-between {justify-content: space-between;}
.ex-layout-justify-content-space-around  {justify-content: space-around;}

.ex-layout-align-items-flex-start {align-items: flex-start;}
.ex-layout-align-items-flex-end   {align-items: flex-end;}
.ex-layout-align-items-center     {align-items: center;}
.ex-layout-align-items-stretch    {align-items: stretch;}
.ex-layout-align-items-baseline   {align-items: baseline;}

.ex-layout-grow-1 {flex-grow: 1;}
.ex-layout-shrink-0 {flex-shrink: 0;}
.ex-layout-basis-0 {flex-basis: 0;}

// xs, s, m, l, xl
$spacing-xs : 5px;
$spacing-s  : 10px;
$spacing-m  : 15px;
$spacing-l  : 25px;
$spacing-xl : 40px;

.ex-layout-across.ex-xs
{
  & > *
  {
    margin-left: $spacing-xs;
  }
  & > *:first-child
  {
    margin-left: 0;
  }
}
.ex-layout-across.ex-s
{
  & > *
  {
    margin-left: $spacing-s;
  }
  & > *:first-child
  {
    margin-left: 0;
  }
}
.ex-layout-across.ex-m
{
  & > *
  {
    margin-left: $spacing-m;
  }
  & > *:first-child
  {
    margin-left: 0;
  }
}
.ex-layout-across.ex-l
{
  & > *
  {
    margin-left: $spacing-l;
  }
  & > *:first-child
  {
    margin-left: 0;
  }
}

.ex-margin-xs {margin: $spacing-xs;}
.ex-margin-s  {margin: $spacing-s;}
.ex-margin-m  {margin: $spacing-m;}
.ex-margin-l  {margin: $spacing-l;}
.ex-margin-xl {margin: $spacing-xl;}

.ex-margin-lef-xs {margin-left: $spacing-xs;}
.ex-margin-lef-s  {margin-left: $spacing-s;}
.ex-margin-lef-m  {margin-left: $spacing-m;}
.ex-margin-lef-l  {margin-left: $spacing-l;}
.ex-margin-lef-xl {margin-left: $spacing-xl;}

.ex-margin-right-xs {margin-right: $spacing-xs;}
.ex-margin-right-s  {margin-right: $spacing-s;}
.ex-margin-right-m  {margin-right: $spacing-m;}
.ex-margin-right-l  {margin-right: $spacing-l;}
.ex-margin-right-xl {margin-right: $spacing-xl;}

.ex-margin-top-xs {margin-top: $spacing-xs;}
.ex-margin-top-s  {margin-top: $spacing-s;}
.ex-margin-top-m  {margin-top: $spacing-m;}
.ex-margin-top-l  {margin-top: $spacing-l;}
.ex-margin-top-xl {margin-top: $spacing-xl;}

.ex-margin-bottom-xs {margin-bottom: $spacing-xs;}
.ex-margin-bottom-s  {margin-bottom: $spacing-s;}
.ex-margin-bottom-m  {margin-bottom: $spacing-m;}
.ex-margin-bottom-l  {margin-bottom: $spacing-l;}
.ex-margin-bottom-xl {margin-bottom: $spacing-xl;}

.ex-padding-xs {padding: $spacing-xs;}
.ex-padding-s  {padding: $spacing-s;}
.ex-padding-m  {padding: $spacing-m;}
.ex-padding-l  {padding: $spacing-l;}
.ex-padding-xl {padding: $spacing-xl;}

.ex-padding-left-xs {padding-left: $spacing-xs;}
.ex-padding-left-s  {padding-left: $spacing-s;}
.ex-padding-left-m  {padding-left: $spacing-m;}
.ex-padding-left-l  {padding-left: $spacing-l;}
.ex-padding-left-xl {padding-left: $spacing-xl;}

.ex-padding-right-xs {padding-right: $spacing-xs;}
.ex-padding-right-s  {padding-right: $spacing-s;}
.ex-padding-right-m  {padding-right: $spacing-m;}
.ex-padding-right-l  {padding-right: $spacing-l;}
.ex-padding-right-xl {padding-right: $spacing-xl;}

.ex-padding-top-xs {padding-top: $spacing-xs;}
.ex-padding-top-s  {padding-top: $spacing-s;}
.ex-padding-top-m  {padding-top: $spacing-m;}
.ex-padding-top-l  {padding-top: $spacing-l;}
.ex-padding-top-xl {padding-top: $spacing-xl;}

.ex-padding-bottom-xs {padding-bottom: $spacing-xs;}
.ex-padding-bottom-s  {padding-bottom: $spacing-s;}
.ex-padding-bottom-m  {padding-bottom: $spacing-m;}
.ex-padding-bottom-l  {padding-bottom: $spacing-l;}
.ex-padding-bottom-xl {padding-bottom: $spacing-xl;}

.ex-layout-width-100 {width: 100%;}
.ex-layout-width-75  {width: 75%;}
.ex-layout-width-50  {width: 50%;}
.ex-layout-width-25  {width: 25%;}
.ex-layout-width-33  {width: 33.33%;}
.ex-layout-width-66  {width: 66.66%;}

.ex-text-bold       {font-weight: bold;}
.ex-text-capitalize {text-transform: capitalize;}
.ex-text-uppercase  {text-transform: uppercase;}

.ex-text-align-center { text-align: center;}
.ex-text-align-left   { text-align: left;}
.ex-text-align-right  { text-align: right;}

.ex-color-green   { color: #2E9E30;}
.ex-color-red     {}
.ex-color-yellow  { color: #E8AA3D;}


.pre-container
{
  width: 500px;
  margin: auto;
}
.pre-title
{
  font-size: 16px;
  line-height: 40px;
}
// login









// test css
.bg-eee {background-color: #eee;}
.bg-ccc {background-color: #ccc;}
.bg-ddd {background-color: #ddd;}
