extends ../_base/_layout
block title
    title Reset Password
block header
block container
    .pre-container
        .ex-layout-across.ex-layout-width-100.ex-margin-top-l
            img(src="/assets/images/placeholder-gravatar.jpg", width=80, height=80).ex-margin-top-xl
            .ex-layout-down.ex-layout-grow-1.ex-margin-lef-s
                .pre-title.ex-text-bold Fill in the new password
                form#bamket_do_reset_password_form(method="post" action="/user/do_reset_password")
                    input(type="hidden", name="token", value="#{token}")
                    input(type="hidden", name="username", value="#{username}")
                    .form-group
                        input(type="password", name="newPassword", placeholder="new password").form-control
                    .form-group
                        input(type="password", name="confirmPassword", placeholder="confirm password").form-control
                    input(type="submit", value="Reset my password").btn.btn-primary
block footer
