extends ../_base/_layout

block main
    .panel.panel-default
        .panel-heading mygoare's Profile
        .panel-body
            div
                b mygoare
                = ' '
                | joined bmaket.com
                = ' '
                b 1 month age
                = ' '
                | .
    .panel.panel-default
        .panel-heading mygoare's Files
        // archive, audio, code, excel, image, movie, file, pdf, photo, picture, powerpoint, sound, text, video, word, zip
        ul.list-group
            li.list-group-item.ex-layout-across.ex-layout-justify-content-space-between
                div
                    .fa.fa-file-pdf-o.fa-fw
                    = ' '
                    span file.pdf
                div
                    a(href="#")
                        .fa.fa-link.fa-fw
                    = ' '
                    a(href="#")
                        .fa.fa-remove.fa-fw
            li.list-group-item.ex-layout-across.ex-layout-justify-content-space-between
                div
                    .fa.fa-file-code-o.fa-fw
                    = ' '
                    span file.pdf
                div
                    a(href="#")
                        .fa.fa-link.fa-fw
                    = ' '
                    a(href="#")
                        .fa.fa-remove.fa-fw