extends ../_base/_layout
block title
    title Forgot Password
block header
block container
    .pre-container
        .ex-layout-across.ex-layout-width-100.ex-margin-top-l
            img(src="/assets/images/placeholder-gravatar.jpg", width=80, height=80).ex-margin-top-xl
            .ex-layout-down.ex-layout-grow-1.ex-margin-lef-s
                .pre-title.ex-text-bold Forgot your password?
                form#bamket_reset_password_form(method="post" action="/user/reset_password")
                    .form-group
                        input(type="email", name="email", placeholder="email used for registration").form-control
                    input(type="submit", value="Let me reset my password").btn.btn-primary
                div
                    hr
                    a(href="/user/sign_in") Sign in
                    = " "
                    | or
                    = " "
                    a(href="/user/sign_up") Sign up
block footer
