extends ../_base/_layout

block main
    .panel.panel-default
        .panel-heading Settings
        .panel-body
            p.ex-text-bold Verify Email
            form
                .form-group.has-feedback
                    input.form-control(type="email", value="mygoare@gmail.com")
                    i.glyphicon.glyphicon-ok.form-control-feedback.text-success
                button(type="submit").btn.btn-primary Verify Email
                button(type="submit" disabled).btn.btn-primary Verified
            hr
            p.ex-text-bold Profile Link
                p
                    a(href="http://bamket/~mygoare") bamket/~mygoare
                form
                    .form-group
                        .input-group
                            .input-group-addon http://bamket/~
                            input.form-control(type="text", placeholder="username", value="mygoare")
                    button(type="submit").btn.btn-primary Change Profile Link
            hr
            p.ex-text-bold Change Password
            form
                .form-group
                    input.form-control(type="password", placeholder="Old Password")
                .form-group
                    input.form-control(type="password", placeholder="New Password")
                .form-group
                    input.form-control(type="password", placeholder="Confirm New Password")
                button(type="submit").btn.btn-primary Change Password
            hr
