extends ../_base/_layout
block title
    title Sign in
block header
block container
    .pre-container
        .ex-layout-across.ex-layout-width-100.ex-margin-top-l
            img(src="/assets/images/placeholder-gravatar.jpg", width=80, height=80).ex-margin-top-xl
            .ex-layout-down.ex-layout-grow-1.ex-margin-lef-s
                .pre-title.ex-text-bold Log in
                form#bamket_sign_in_form(method="post", action="/user/sign_in")
                    .form-group
                        input(type="text", name="username", placeholder="username").form-control
                    .form-group
                        input(type="password", name="password", placeholder="password").form-control
                    input(type="submit", value="Log in").btn.btn-primary
                div
                    hr
                    a(href="/user/sign_up") Sign up
                    = " "
                    | or
                    = " "
                    a(href="/user/reset_password") Reset your password
block footer