extends ../_base/_layout
block title
    title Create an account
block header
block container
    .pre-container
        .ex-layout-across.ex-layout-width-100.ex-margin-top-l
            img(src="/assets/images/placeholder-gravatar.jpg", width=80, height=80).ex-margin-top-xl
            .ex-layout-down.ex-layout-grow-1.ex-margin-lef-s
                .pre-title.ex-text-bold Sign up
                form#bamket_sign_up_form(method="post", action="/user/sign_up")
                    .form-group
                        input(type="text", name="email", placeholder="E-mail address").form-control
                    .form-group
                        input(type="text", name="username", placeholder="Username").form-control
                    .form-group
                        input(type="password", name="password", placeholder="Password").form-control
                    input(type="submit", value="Create an account").btn.btn-primary
                div
                    hr
                    a(href="/user/sign_in") Sign in
                    = " "
                    | or
                    = " "
                    a(href="/user/reset_password") Reset your password
block footer