doctype html
html(lang="en")
    head
        block meta
            include _meta
        block title
            title Admin
        block styles
            include _styles
    body
        #wrapper
            block header
                include _nav
            #page-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            block container

        block footer
            include _footer
        block scripts
            include _scripts
