script(src="/assets/vendor/jquery/dist/jquery.min.js")

script(src="/assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.js")
script(src="/assets/vendor/metisMenu/dist/metisMenu.js")

script(src="/assets/admin/sb-admin-2.js")