link(rel="stylesheet", href="/assets/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.css")
link(rel="stylesheet", href="/assets/vendor/font-awesome/css/font-awesome.css")

link(rel="stylesheet", href="/assets/vendor/dist/metisMenu.css")

link(rel="stylesheet", href="/assets/admin/sb-admin-2.css")