.bamket-footer.ex-layout-shrink-0
    .container
        .ex-layout-across.ex-layout-justify-content-space-between.ex-m
            div Made with
                = ' '
                 i.fa.fa-heart
                = ' '
                | by bamket.
                | &copy; 2015-2016
            select#bamket-select-language
                option(value="en") English
                option(value="cn") 中文 (简体)
                option(value="tw") 中文 (繁體)
                option(value="jp") 日本語
                option(value="kr") 한국어

