doctype html
html(lang="en")
    head
        block meta
            include _meta
        block title
            title exble
        block styles
            include _styles
    body
        div
            block header
                include _header
            block container
                .container
                    .row
                        include _nav
                        .col-sm-9.col-xs-12.ex-margin-bottom-s
                            .row
                                .col-xs-12
                                    block main
        block footer
            include _footer
        block scripts
            include _scripts
