.col-sm-3.col-xs-12.ex-margin-bottom-s
    ul.nav.nav-pills.nav-stacked.small
        li
            a(href="/").ex-text-uppercase
                i.fa.fa-home.fa-fw.ex-margin-right-s
                = __("index.nav.home")
        if logged
            li
                a(href="/~mygoare").ex-text-uppercase
                    i.fa.fa-user.fa-fw.ex-margin-right-s
                    = __("index.nav.profile")
            li
                a(href="/user/settings").ex-text-uppercase
                    i.fa.fa-cog.fa-fw.ex-margin-right-s
                    = __("index.nav.settings")
            li
                a(href="/user/sign_out").ex-text-uppercase
                    i.fa.fa-sign-out.fa-fw.ex-margin-right-s
                    = __("index.nav.sign_out")
        else
            li
                a(href="/user/sign_in").ex-text-uppercase
                    i.fa.fa-sign-in.fa-fw.ex-margin-right-s
                    = __("index.nav.sign_in")
            li
                a(href="/user/sign_up").ex-text-uppercase
                    i.fa.fa-user-plus.fa-fw.ex-margin-right-s
                    = __("index.nav.sign_up")
        li
            a(href="/about").ex-text-uppercase
                i.fa.fa-info.fa-fw.ex-margin-right-s
                = __("index.nav.about")