script(src="/assets/vendor/jquery/dist/jquery.min.js")

script(src="/assets/vendor/js-cookie/src/js.cookie.js")

script(src="/assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.js")
script(src="/assets/vendor/vue/dist/vue.js")

script(src="/assets/bamket.js")