link(rel="stylesheet", href="/assets/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.css")
link(rel="stylesheet", href="/assets/vendor/font-awesome/css/font-awesome.css")

link(rel="styleSheet", href="/assets/main.css")

link(rel="styleSheet", href="/assets/bamket.css")
